* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-y: unset;
}
.jumbotron {
  background-color: #ff3f34;
  color: #fff;
  padding: 6rem 0;
  text-align: center;
}
.material-icons {
  font-size: 8rem;
}

.card-title {
  text-align: center;
  max-width: 18rem;
  word-wrap: break-word;
}
.recipe-link {
  padding: 1rem;
}
.recipe-link a {
  outline: none;
  display: inline-block;
  background-color: #ff3f34;
  border-radius: 15px;
  margin-left: 5.5rem;
  padding: 0.4rem;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
